.redux-container {
    background-image: none;
    background-color: #2a2e31
}

.redux-container #redux-header {
    background: #242527;
    border-color: #242527
}

.redux-container #redux-header .display_header {
    margin: 20px 20px 20px 20px
}

.redux-container #redux-header .display_header h2 {
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 30px;
    line-height: 1;
    padding-right: 15px
}

.redux-container #redux-header .display_header span {
    color: white
}

.redux-container #redux-header .display_header .redux-dev-mode-notice-container {
    left: auto;
    right: 26px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.redux-container #redux-header .display_header .redux-dev-mode-notice-container .redux-dev-mode-notice {
    border-radius: 0
}

.redux-container .rAds {
    opacity: 0
}

.redux-container .rAds a,
.redux-container .rAds img {
    display: none
}

.redux-container .button {
    margin-top: 0
}

.redux-container .redux-action_bar .spinner {
    margin-top: 6px
}

.redux-container .redux-action_bar .button {
    line-height: 1
}

.redux-container #redux-sticky #info_bar {
    height: 38px
}

.redux-container #info_bar {
    padding: 9px 10px 3px 6px
}

.redux-container .redux-sidebar {
    width: 232px
}

.redux-container .redux-sidebar .redux-group-tab-link-a i {
    color: rgba(255, 255, 255, 0.2)
}

.redux-container .redux-sidebar .redux-group-menu li a {
    padding: 16px 4px 16px 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.05);
    opacity: 1
}

.redux-container .redux-sidebar .redux-group-menu li a:hover {
    background: #2a2e31;
    color: #02a79c
}

.redux-container .redux-sidebar .redux-group-menu li.active>a,
.redux-container .redux-sidebar .redux-group-menu li.active>a:hover,
.redux-container .redux-sidebar .redux-group-menu li.activeChild>a,
.redux-container .redux-sidebar .redux-group-menu li.activeChild>a:hover {
    width: auto;
    background-color: #2a2e31;
    color: #02a79c
}

.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections a {
    background: #02a79c
}

.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a {
    background: rgba(255, 255, 255, 0.05)
}

.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover {
    color: white
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-shadow: none
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #fff
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    background: #02a79c;
    color: #fff;
    text-shadow: none
}

.redux-container .redux-main {
    margin-left: 232px;
    border-left: 0
}

.redux-container .redux-main .input-append .add-on {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.redux-container .redux-main .redux-container-typography .select2-container {
    min-width: auto!important
}

.redux-container .redux-main .redux-container-typography .input_wrapper input.mini {
    border-radius: 0
}

.redux-container .switch-options .cb-disable,
.redux-container .switch-options .cb-enable {
    border-radius: 0px
}

.redux-container .wp-color-result {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.redux-container .wp-color-result:after {
    border-radius: 0;
    font-size: 12px;
    padding: 1px 6px
}

.redux-container .redux-main .color-transparency-check {
    margin-top: -20px!important;
    padding-top: 0
}

.redux-container .redux-container-editor .wp-editor-container {
    border-radius: 0
}

.redux-container .redux-container-editor .add_media {
    padding-top: 5px;
    padding-bottom: 5px
}

.redux-container .redux-container-switch .cb-enable.selected,
.redux-container .redux-field-container .ui-buttonset .ui-state-active {
    background-color: #02a79c!important;
    border-color: #02a79c!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.redux-container .redux-container-switch .cb-disable.selected {
    background-image: none!important;
    background-color: #2a2e31!important
}

.redux-container .select2-container .select2-choice {
    border-radius: 0
}

.redux-container .select2-container .select2-choice .select2-arrow b:after {
    margin-left: -5px
}

.redux-container .redux-container-image_select .redux-image-select-selected img {
    border-color: #02a79c
}

.redux-container .redux-container-button_set .ui-button {
    border-radius: 0
}

.redux-container .noUi-connect {
    background-image: none!important;
    background-color: #02a79c!important
}

.redux-container #redux-footer .button:not(.button-primary) {
    margin-left: 4px
}

.redux-container .redux-container-sorter ul li {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.redux-actions .button,
.redux-container .button,
.redux-container .button-primary,
.redux-container .button-secondary {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 15px;
    text-transform: uppercase;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease
}

.redux-actions .button:active,
.redux-actions .button:focus,
.redux-actions .button:hover,
.redux-container .button-primary:active,
.redux-container .button-primary:focus,
.redux-container .button-primary:hover,
.redux-container .button-secondary:active,
.redux-container .button-secondary:focus,
.redux-container .button-secondary:hover,
.redux-container .button:active,
.redux-container .button:focus,
.redux-container .button:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.redux-actions .button:active,
.redux-container .button-primary:active,
.redux-container .button-secondary:active,
.redux-container .button:active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.redux-actions .button.button-primary,
.redux-container .button-primary {
    border-color: #02a79c;
    background-color: #02a79c;
    color: white
}

.redux-actions .button.button-primary:active,
.redux-actions .button.button-primary:focus,
.redux-actions .button.button-primary:hover,
.redux-container .button-primary:active,
.redux-container .button-primary:focus,
.redux-container .button-primary:hover {
    border-color: #02b6aa;
    background-color: #02b6aa
}

.redux-actions [disabled].button.button-primary,
.redux-container [disabled].button-primary {
    border-color: #02a79c!important;
    background-color: #02a79c!important;
    color: white!important;
    opacity: .5
}