.animated-counter {

  .counter-text {
    display: flex;
    align-items: center;

    .counter-number {
      font-size: 48px;
      font-weight: 300;
      margin-right: 15px;
    }

    .counter-label {
      line-height: 1.4;
    }
  }

  &.counter-light {

    .counter-text {
      color: $white;
    }
  }
}